:root {
  --color-background: #111111;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #00008B;
  --color-primary-dark: #191970;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #F0F0F0;
  --color-text-title: #FFFFFF;
  --color-text-complement: #9C98A6;
  --color-text-base: #F0F0F0;
  --color-line-in-white: #373737;
  --color-input-background: #515151;
  --color-button-text: #373737;
  --color-box-base: #373737;
  --color-box-footer: #515151;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, 
input, 
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}